@import 'shared/styles/variables.css';

.dayForecast {
	position: relative;
	width: 100%;

	.dayWeatherIcon {
		position: relative;
		display: block;
		width: 100px;
		height: 100px;
		margin: 35px auto 40px;
	}
}

.weatherDetails {
	display: flex;
	justify-content: space-around;
	color: var(--purple);
	font-size: 1.2rem;

	.weatherIcon_temperature {
		position: relative;
		z-index: 1;
		color: var(--white);
		font-size: 6rem;

		.weatherIcon_shadow {
			position: absolute;
			left: 0;
			z-index: -1;
			color: var(--purple);
			transform: translateY(-1px);
			font-family: aemstel_shadow;
		}
	}
}

.dailyIcon {
	width: 36px;
	height: 36px;
}
