@import 'reset-css/reset.css';
@import './shared/styles/variables.css';

:root {
	background-color: var(--light-yellow);
}

.Weather {
	max-width: var(--fullSizedContainer);
	margin: 0 auto;
	padding-top: 60px;

	&_header {
		text-align: center;
	}
}